html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.uniquifier {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html,
body {
  background-color: #ededff;
  font-family: "Urbanist", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#sketch-holder {
  position: absolute;
  z-index: 0;
}

h1 {
  color: #262654;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
}

.main {
  position: relative;
  z-index: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem;
}

a {
  color: #ededff;
  text-decoration: none;
  border: 1px solid #262654;
  border-radius: 10px;
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.boton {
  margin-block: 2rem;
}

a:hover {
  background-color: #363674cc;
  transform: scale(1.1);
  box-shadow: 0px 5px 20px black;
  border: 1px solid black;
}
